/* General */

:root {

  /* color */

  --mineShaft: #999;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
}

h2,
h3 {
  font-weight: inherit;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: center;
}

picture {
  line-height: 0;
}

address {
  font-style: normal;
}

.container {
  min-width: 290px;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button {
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: normal;
  color: var(--mineShaft);
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--mineShaft);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



/* main */

.hero {
  padding: 20px 0;
}

.planets-table {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  max-width: 100%;
}

.planets-table__caption {
  grid-column: 1 / 7;
  border: 1px solid #1B5583;
  border-bottom: none;
  padding: 10px 0;
  background-color: #ADD8E6;
  color: #082567;
}

.planets-table__head,
.planets-table__body,
.planets-table__row
{
  display: contents;
}

.planets-table__row .planets-table__col:nth-child(1) {
  font-weight: 600;
  background-color: #999;
}

.planets-table__body .planets-table__row:nth-child(odd) .planets-table__col:not(:first-of-type) {
  background-color: #7FC7FF;
}

.planets-table__col_header {
  font-weight: 600;
  background-color: #999;
}

.planets-table__col {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}
